.add-content-container {
    max-width: 30%!important;
}

.button-almost-square {
    height: 80px;
    width: 100px;
    background-color: #587896;
    border-radius: 6px;
    border-width: 0;
}

.button-almost-square:hover {
    background-color: #303030;
}

.rekt-pad-buttons {
    padding-left: 4px!important;
    padding-right: 3px!important;
}

svg {
    color : white;
}