.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 28%!important;
    border: #E8E8E8 1px solid;
    box-sizing: border-box;
}

.title-connection-page {
    border-bottom:1px #587896 solid;
}
