.name-header-input {
    width: 25% !important;
}

.title-lesson-input {
    width: 33% !important;
}

.background-white {
    background-color: white;
}

.container-lesson {
    min-width: 70%!important;
}

.background-grey {
    background-color: #E5E5E5;
    min-height: 100vh;
}
